
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 
 /* стилизайция элеметов управления слайда и наши пользовательские переменные */
 :root {
  --index: calc(1vw + 1vh);  /*привязка размера шрифта к ширине и к высоте */
  --swiper-theme-color: #2acf27;
  --swiper-navigation-size: 30px;
  --swiper-navigation-sides-offset: 50px;
  --swiper-pagination-bottom: 30px;
  --swiper-pagination-color: #ffffff;
  --swiper-pagination-bullet-inactive-color: #e1d5d5;

   
 }

 body{
   background-color:  rgb(0, 0, 0);
   color: #fff
 }

 .slider{
  height:100vh;
  box-shadow: inset 030px 050px 50px #000;
 }

 .slider .slide{
  display: flex;
  align-items: center;
  justify-content: center;
 }

 .slide__content{
  text-align: center;
  opacity: 0;
  transition: opacity .25s ease;
 }
 .swiper-slide-active .slide__content{
  opacity: 1;

 }
 .slide__content h2{
  font-size: 5rem;
  font-size:calc(var(--index)* 1);
  text-transform: uppercase;
  letter-spacing:calc(var(--index)* 0.2);
  margin-bottom:calc(var(--index)* 1);
  position: relative;
 }
 .slide__content h2::after{
   content: '';
   height: 2px;
   width: 20%;
   background-color: rgba(255 255 255 / .25 );
   position: absolute;
   left:40%;
   bottom:calc(var(--index)* -0.5 ) ;
 }

 button{
  padding: 9.40px 40px;
  font-size: 20px;
  border-radius: 10em;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 4.5px;
  box-shadow: 0px 5px 10px;
 }

 .slide__content p {
  font-size: calc(var(--index)* 0.8 );
  text-transform: uppercase;
  color: rgba(255 255 255 / .70 );
  letter-spacing:calc(var(--index)* 0.1);
 }

.slider-navigation *{
  border: 1.5px solid #2acf27;
  border-radius: 10em;
  width: 50px;
  height: 50px;
}


.video-background {
  position: fixed;
  width: 110%;
  height: 110%;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}

